    :root{
        --black: hsl(219,43%,16%);
        --green: hsl(218,20%,36%);
        --pink: hsl(30,33%,93%);
        --white: hsl(30,29%,97%);
        --lightblue: hsl(264,100%,69%);
        --darkpink: hsl(292,76%,54%);
        --gold: hsl(31,100%,65%);
    }
    /*
    1. Use a more-intuitive box-sizing model.
    */
    *, *::before, *::after {
    box-sizing: border-box;
    }
    /*
    2. Remove default margin
    */
    * {
    margin: 0;
    }
    /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
    */
    body {
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
    }
    /*
    5. Improve media defaults
    */
    img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    }
    /*
    6. Remove built-in form typography styles
    */
    input, button, textarea, select {
    font: inherit;
    }
    /*
    7. Avoid text overflows
    */
    p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    }
    /*
    8. Create a root stacking context
    */
    #root, #__next {
    isolation: isolate;
    }
    h1{font-size: 2.375rem; line-height: 2.75rem;letter-spacing: -.033rem;font-weight: 500;color: var(--black);}
    h2{font-size: 3rem;}
    h3{font-size: 2.5rem;}
    body {
    background-color: var(--white);
    color: var(--green);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00556rem;
    font-family: 'Epilogue', sans-serif;
    }
    .padding-container{ padding-top: 1.5rem; padding-inline: 1rem; }
    nav{ display: flex; justify-content: space-between; margin-bottom: 5.21rem; }
    /* .nav-logo{ margin: 0; padding: 0; object-fit: cover; } */
    .nav-logo{object-fit: cover;}
    .header-card >h1{margin-bottom:2rem;}
    .header-card >p{margin-bottom:2rem;}
    .header-card{margin-bottom: 3.48rem;max-width: 450px; }
    .header{margin-bottom:3.48rem;}
    
    .hero-img{width: 100%; height: 15rem; object-fit: cover;border-radius: 0.9375rem;
background: radial-gradient(141.42% 141.42% at 100% 100%, #A060FF 0%, #CB30E3 33.18%, #FFA84E 100%);}

.stats-container{display: flex;flex-direction: column;align-items: center;margin-bottom: 13.5rem;}
.stats {margin-bottom: 2rem;font-size: 1rem;text-transform: uppercase;letter-spacing: 0.15625rem;display: flex;flex-direction: column;align-items: center;}
.stats strong{font-size: 3rem;color: var(--black);}


.jeremy{
position: relative;
margin-left: auto;
margin-right: auto;
transform: translateY(-50%);
margin-bottom: -7.31rem;
}
.btn{ text-decoration: none; padding: .75rem 1.03rem .75rem .97rem; border-radius: 0.375rem; display: inline-block; }
    .btn-light{ color: var(--black); border: 1px solid var(--black); }
    .btn-dark{ background: var(--black); color: var(--pink); }

    .light-bg-container{ background: var(--pink); margin-inline: -1rem; }
    .dark-bg-container{ 
        border-radius: .9375rem;
         background: var(--black); 
         color: var(--pink); 
         text-align: center; 
        }
    .flex-card{ display: flex; flex-direction: column; gap: 2.5rem;padding-inline: 1rem;padding-bottom: 4rem; }
    .cmo-group{text-transform: uppercase;}
    .name{font-size: 1.125rem;letter-spacing: -0.01125rem;font-weight: 700;margin-bottom:  0;line-height: 2rem;}
    .details{font-size: 1rem;line-height: 1.625rem; letter-spacing: 0.15625rem;}
    .quote{ letter-spacing: 0.00563rem; line-height: 2rem; }
    .footer-container{
        display: flex;flex-direction: column;align-items: center;
        gap: 2.06rem;
        padding-top: 3.5rem;
        padding-bottom: 5rem;
    }
    .footer-container>p{ font-size: 0.9375rem; line-height: 2rem; letter-spacing: 0.00519rem;    }
    .icons-flex{ display: flex; justify-content: space-between; width: 7.25rem; height: 1.25rem; }

    @media(min-width: 712px){
        .padding-container{padding-top: 2.5rem;padding-right: 2.5rem;padding-left: 2.44rem;}
        .stats-container{flex-direction: row;justify-content: space-around;margin-bottom:17.06rem;}
        .nav-logo-wrapper{display: flex;}
        .nav-logo{align-self: center;} 
            
        .header{position: relative;;}
        .header-card{margin-bottom: 8rem;width: 32rem;max-width: revert;}
        .header-card >h1{font-size: 3.5rem;line-height: 4rem;margin-bottom: 2.5rem;letter-spacing: -0.04863rem;padding-top: 6rem;font-weight: 400;}
        .header-card >p{width: 21.875rem;margin-bottom: 2.5rem;}
        .header-title > strong{font-weight: 700;}
        .phone-wrapper{flex:1;  height: 30.125rem; position: absolute;top:0;right:0;z-index: -1;width: 17.5625rem;}
        .hero-img{ width: 100%;height: 30.125rem; object-fit: cover;position: relative;z-index: -1;}
        .light-bg-container{margin-right: -2.5rem;margin-left: -2.44rem;} 
        .dark-bg-container{margin-right: 2.5rem;margin-left: 2.44rem;} 
        .flex-card{ gap: 2.5rem;padding-inline:3.63rem; }

         .footer-container{display: flex;flex-direction: row;margin-left: 2.44rem;margin-right: 2.5rem;justify-content: space-between;}
    }
    @media(min-width: 880px){
        .header{max-width: 940px; margin-inline: auto;}
        }
    
    @media(min-width: 1200px){
        .padding-container{padding-top: 3.12rem;padding-right: calc(10.25rem*.3);padding-left: calc(10.44rem*.3);}
        .grid-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: 
            "nav-logo nav-logo nav-logo nav-logo"
            "header-card header-card header-card stats-container"
            "light light light light";
        }
        nav{grid-area: nav-logo;}
        .phone-wrapper{width: 21.875rem;height: 37.5rem;}
        .hero-img{ width: 100%;height: 37.5rem; object-fit: cover;position: relative;z-index: -1;}
        .header{grid-area: header-card;margin-bottom: revert;max-width: revert;margin-inline:revert ;}
        .header-card{width: 39.6875rem;margin-bottom: revert;}
        .header-card >h1{font-size: 4.5rem;}
        .header-card >p{width: 19rem;margin-bottom: 3.25rem;line-height: 2;}
        .stats-container{grid-area: stats-container;flex-direction: column;justify-content: flex-end;justify-content: center;margin-bottom: revert;}
        .light-bg-container{grid-area: light;margin-right: -10.25rem;margin-left: -10.44rem;transform: translateY(50%);background: var(--white);}
        .dark-bg-container{display: flex;justify-content: space-around;margin-right: 10.25rem;margin-left: 10.44rem;}
        .flex-card{width: 21.875rem;padding-inline:revert;text-align: left;padding-block: 5.5rem;}
        .flex-card>h3{font-size:3rem;}
        .quote{
            font-style: normal;
            font-weight: 400;
            line-height: 2.1875rem; /* 175% */
            letter-spacing: 0.00625rem;font-size: 1.25rem  ;}
        .jeremy{transform: translateY(-7.4%);}
        /* .footer-container{background: var(--pink);padding-top: calc(34.0625rem/2);position: relative;z-index: -1;margin-left: -39.04rem;margin-right: 40rem;} */
        

    }
    @media (min-width: 1440px){
        .padding-container{padding-right: 10.25rem;padding-left:10.44rem;}

    }
